@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @-webkit-keyframes border-pulsate {
    0%   { border-color:  rgba( 0, 199, 250, 1 ); }
    50%  { border-color:  rgba( 255, 255, 255, 1 ); }
    100% { border-color:  rgba( 0, 199, 250, 1 ); }
}

@keyframes border-pulsate {
    0%   { border-color:  rgba( 0, 199, 250, 1 ); }
    50%  { border-color:  rgba( 255, 255, 255, 1 ); }
    100% { border-color:  rgba( 0, 199, 250, 1 ); }
}