.button {
    background: #00c7fa;
    background: rgba(0,199,250, 0.5);
    border-radius: 5px;
    display: inline-block;
    width: auto;
    border: 2px solid rgb(0,193,246);
    font-family: "Montserrat";
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
}