#copyright {
    @include font-size(16);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding: 20px 0 70px;
    padding: 1.5rem 0 5rem;
    background: rgb( 7, 29, 50 );
    margin: 0;
    text-align: center;
}