h1 {
    @include font-size(72);    
}

h3 {
    @include font-size(42);
    line-height: 42;
    margin-top: 0;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

h6 {
    @include font-size(14);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h1,h3 {
    font-family: "Montserrat";
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
}

.headline {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    span.font-gradient {
        // always place in front of box shadow
        position: relative;
        z-index: 2;
        // gradient effect
        background: #f0e4d2; /* Old browsers */
        background: -moz-linear-gradient(top,  #f0e4d2 0%, #fab83c 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #f0e4d2 0%,#fab83c 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #f0e4d2 0%,#fab83c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0e4d2', endColorstr='#fab83c',GradientType=0 ); /* IE6-9 */
        // clip to text
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    // have text shadow background:
    span.headline-box-shadow {
        // always place behind text:
        z-index: 1;
        // box shadow
        text-shadow: 0px 0px 8px #000000;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        font-size: inherit;
    }
}
