#gameplay {
    padding: 48px 0 0;
    padding: 3rem 0 0;
    background: url('./background-tac.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: visible;

    .headline {
        margin-top: 0;
        margin-bottom: 18px;
        margin-bottom: 0.75rem;
        line-height: 42px;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        text-shadow: 0px 0px 8px #000000;
        color: #fff;
        @include font-size(16);
        line-height: 20px;
    }

    video {
        margin-bottom: 20px;
        margin-bottom: 1.5rem;
        border: 3px solid #00c7fa;
        border-radius: 3px;
    }

    #youtube-callout-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .sprite {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 98px;
            height: 113px;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background-position: -228px 3px;
            opacity: 0.60;
        }
        &:hover, &:active {
            .sprite {
                opacity: 1;
            }
        }
    }

    #divider {
        width: 100%;
        margin: 0 auto;
        max-width: 1100px;
        height: auto;
        position: absolute;
        // push below so text is still able to be highlighted
        z-index: 1;
        bottom: -49px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0);

        img {
            width: 100%;
            height: auto;
        }
    }

    .container {
        position: relative;
        // repeated z-index for containers doesn't matter in this case
        // since we only need the divider pushed below container
        z-index: 2;
    }

}