#races {
    overflow: visible;
    padding: 48px 0 0;
    padding: 3rem 0 0;
    background: url('./background_races.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    

}