#secondary-nav {
    background: #0c1c33;
    border-bottom: 1px solid #183561;

    #en-masse {
        background-position: -76px -76px;
        width: 67px;
        height: 54px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #my-account {
        color: #fff;
        text-align: right;
        h6 { margin: 0; }
    }

}